.container {
    border: 1px solid #333;
    margin: 20px;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 300px;
}

[class*="box"] {
    border: 1px solid #000;
    height: 100%;
    width: 200px;
}
.box1 {
    background-color: blue;
}
.box2 {
    background-color: pink;
}
.box3 {
    background-color: green;
}
.box4 {
    background-color: yellow;
}